* {
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
    font-family: 'Work Sans', sans-serif;
}

/* nav bar part start */
.nav-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

/* container */
.contianer {
    width: 80%;
    margin: auto;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-span {
    color: #FF42A5;
}

.logo-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-left: 20px;
}

.nav-items {
    display: flex;
}

.nav-items ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items ul li {
    list-style: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    margin-left: 30px;
}

.nav-items-extn {
    display: flex;
    margin-left: 20px;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 300px;
    height: 56px;

}

.nav-items-extn ul {
    margin: 0;
    padding: 0;
}

.nav-items-extn .youtube {
    color: red;
}

/* nav bar part end */
/* banner part start */
.banner {
    background-image: url('/images/Group\ 14.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50%;
}

.banner-container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}

.banner-info {
    width: 100%;
}

.banner-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-title-second {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 20px;
}

.bullet-point {
    list-style: none;
    margin-top: 24;

}

.bullet-point i {
    color: #F948B2;
    margin-right: 10px;

}

.bullet-point li {
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-top: 17px;
}

.btn {
    margin-top: 40px;

}

.btn-primary {
    width: 160px;
    height: 65px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    border: none;
}

.btn-secondary {
    width: 170px;
    height: 65px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 30px;
    border: none;
}

.banner-img img {
    height: 80vh;
}

/* banner part end */

/* gamer part start */
.gamer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gamer-img img {
    width: 100%;
    height: 100%;
}

.gamer-info {
    width: 80%;
    align-items: center;
    text-align: right;
    padding: 100px 0;
    margin-left: 70px;
}

.game-part {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 20px;
}

.gamer-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

#gamer-btn {
    width: 200px;
    padding: 20px;
    margin-bottom: 24px;
}

.qoute-para {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.qoute-span {
    color: #0B0223;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

/* gamer part end */
/* online game part start */
.online-game {
    margin: 120px 0;
}

.online-game-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}

.title-span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.online-game-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.online-game-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.online-game-container {
    margin-top: 48px;
}

.game-card img {
    width: 90%;
}

.game-card p {
    color: #534C64;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

/* online game part end */

/* play game part start */
.play-game-con-main {
    display: flex;
    justify-content: space-around;
}

.play-game-info {
  margin-top: 150px;
    margin-right: 100px;
    align-items: center;
    width: 400px;
    height: 500px;
}

.play-game-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;

}

.play-game-description {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}
 
}
.play-game-img img{
    display: flex;
}
.pic2 {
    margin-top: -300px;
    margin-left: -100px;
  
}
/* play game part end */



/* pay game part start */
/* sponsor part start */
.sponsor {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 100px 0;
}

.sponsor-container-main {
    display: flex;
    margin: 20px;
    margin-left: 20px;

}

.sponsor-con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 243px;
    height: 80px;
    border-radius: 50px;
    background: #FFF;
    margin-left: 20px;
}

.sponsor-con:hover {
    border: 2px solid #F948B2;
    color: #F948B2;
    

}

.sponsor-con-main-2 {
    display: flex;
    justify-content: center;
}

/* sponsor part end */

/* footer part start */
.footer-container {
    background: #0B0223;
    color: #FFF;
    text-align: center;
    padding: 120px 0;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo h1 {
    font-size: 45px;
    margin-left: 10px;
}


.footer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.footer-list ul,
.footer-policy ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.footer-list ul li {
    list-style: none;

    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 50px;

}

.footer-policy ul li {
    list-style: none;
    font-size: 18px;
    margin: 20px;
    color: rgba(255, 255, 255, 0.60);
}

.footer-icon i {
    color: #FFF;
    font-size: 30px;
    margin: 0px 30px 30px 30px;
    cursor: pointer;
}

.footer-copy {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

/* footer part end */